<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-4 text-center">
        <h5 class="site-footer-title mb-3">Quick Links</h5>

        <ul class="footer-menu">
          <li class="footer-menu-item"><a href="dumbutu.html" class="footer-menu-link">About Dumbutu</a></li>

          <li class="footer-menu-item"><a href="charity.html" class="footer-menu-link">About The Link</a></li>

          <li class="footer-menu-item"><a href="projects.html" class="footer-menu-link">Our Impact</a></li>

          <li class="footer-menu-item"><a href="donate.html" class="footer-menu-link">Donate</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mx-auto my-4 my-md-0 text-center">
        <h5 class="site-footer-title mb-3">Contact Infomation</h5>

        <p class="text-white">
          <i class="bi-envelope me-2"></i>
          donate@charity.org
        </p>

        <a href="index.html#contact" class="custom-btn btn mt-3">Contact Us</a>
      </div>

      <div class="col-lg-2 col-sm-6 col-12 mt-4 mt-sm-0 mt-md-5 mb-4 mb-sm-0 text-center">
        <a href="index.html">
          <img src="images/small_logo.png" class="logo img-fluid" alt="The logo for the Woodbury Salterton Dumbutu Link" />
        </a>
      </div>

      <!-- GreenGeeks logo -->
      <div class="col-lg-2 col-sm-6 col-12 mt-md-5 text-center">
        <!-- GreenGeeks Seal Code -->
          <div>
            <a href="#" onclick="ggs_ggseal()"><img class="green-seal" src="https://static.greengeeks.com/ggseal/Green_22.png" alt="Logo to show users that this site is eco friendly" /></a>
          </div>
          <!-- End GreenGeeks Seal Code -->
      </div>
    </div>
  </div>

  <div class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-12">
          <p class="copyright-text mb-0">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            Seán Kennelly. All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>