/* CONTENTS:

1. GLOBAL PROPERTIES
    1A. FONTS
    1B. CUSTOM PROPERTY VARIABLES
    1C. TYPOGRAPHY
2. GLOBAL STYLES
    2A. SECTIONS
    2B. NAVIGATION
    2C. SITE HEADERS
    2D. SITE FOOTER
    2E. CUSTOM BUTTONS
3. HOMEPAGE
    3A. HERO & HERO SLIDE
    3B. FOCUS LIST
    3C. COUNTER NUMBERS
    3D. PROJECT ITEMS
    3E. TESTIMONIAL              
    3F. AVATAR IMAGE
    3G. CONTACT SECTION
4. ABOUT PAGES (dumbutu.html & charity.html)
    4A. TIMELINE
5. PROJECTS PAGE
6. FORMS (index.html & donate.html)
    6A. CUSTOM FORMS
7. DONATE PAGE
8. RESPONSIVE STYLES

*/

/*---------------------------------------
  1. GLOBAL PROPERTIES             
-----------------------------------------*/
/*---------------------------------------
  1A. FONTS          
-----------------------------------------*/

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis/Metropolis-Regular.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis/Metropolis-Light.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis/Metropolis-Bold.woff2") format("woff2"), url("../fonts/Metropolis/Metropolis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*---------------------------------------
  1B. CUSTOM PROPERTY VARIABLES             
-----------------------------------------*/
:root {
  --white-color: #ffffff;
  --primary-color: #3b7729;
  --secondary-color: #5a6f80;
  --section-bg-color: #f0f8ff;
  --site-footer-bg-color: #44525d;
  --custom-btn-bg-color: #597081;
  --custom-btn-bg-hover-color: #3b7729;
  --dark-color: #000000;
  --p-color: #717275;
  --border-color: #e9eaeb;

  --body-font-family: "Metropolis", sans-serif;

  --h1-font-size: 52px;
  --h2-font-size: 46px;
  --h3-font-size: 32px;
  --h4-font-size: 28px;
  --h5-font-size: 24px;
  --h6-font-size: 22px;
  --p-font-size: 16px;
  --btn-font-size: 18px;
  --copyright-font-size: 14px;

  --border-radius-large: 100px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

/*---------------------------------------
  1C. TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--secondary-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a,
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  2. GLOBAL STYLES             
-----------------------------------------*/

/*---------------------------------------
  2A. SECTIONS               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-section {
  padding-bottom: 50px;
}

.future-section {
  padding-top: 50px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.section-overlay + .container {
  position: relative;
}

/*---------------------------------------
  2B. NAVIGATION              
-----------------------------------------*/
.navbar {
  background: var(--white-color);
  z-index: 9;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-bold);
  white-space: normal; /* Allow the text to wrap */
}

.navbar-brand span {
  display: inline-block;
  vertical-align: middle;
}

.navbar-brand small {
  color: var(--secondary-color);
  display: block;
  font-size: 10px;
  line-height: normal;
  text-transform: uppercase;
}

.logo {
  width: 80px;
  height: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
  margin-right: 0;
  margin-left: 0;
  padding: 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  background: transparent;
  color: var(--primary-color);
}

.dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  border: 0;
  max-width: 50px;
  padding: 0;
  margin-top: 20px;
}

.dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu li:last-child .dropdown-item {
  padding-top: 0;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent;
  color: var(--primary-color);
}

.dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}

@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: "";
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

/*---------------------------------------
  2C. SITE HEADERS             
-----------------------------------------*/
.site-header {
  background: var(--primary-color);
  padding-top: 15px;
  padding-bottom: 10px;
}

.site-header p,
.site-header p a,
.site-header {
  color: var(--white-color);
  font-size: var(--copyright-font-size);
}

/*---------------------------------------
  2D. SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--site-footer-bg-color);
  padding-top: 70px;
}

.site-footer h5 {
  color: var(--border-color);
}

.site-footer-bottom {
  background-color: var(--secondary-color);
  position: relative;
  z-index: 2;
  margin-top: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.site-footer-bottom a {
  color: var(--white-color);
}

.site-footer-bottom a:hover {
  color: #ff6;
}

.site-footer-link {
  color: var(--white-color);
}

.copyright-text {
  color: var(--section-bg-color);
  font-size: var(--copyright-font-size);
  margin-right: 30px;
}

.site-footer .custom-btn {
  font-size: var(--copyright-font-size);
}

.site-footer .custom-btn:hover {
  background: var(--primary-color);
}

.footer-menu {
  column-count: 2;
  margin: 0;
  padding: 0;
}

.footer-menu-item {
  list-style: none;
  display: block;
}

.footer-menu-link {
  font-size: var(--p-font-size);
  color: var(--white-color);
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*---------------------------------------
  2E. CUSTOM BUTTONS               
-----------------------------------------*/
.custom-btn {
  background: var(--secondary-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 15px 25px;
}

.project-info-btn {
  background-color: #44525d;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  color: var(--custom-btn-bg-color);
  margin-top: 8px;
  padding: 12px 25px;
}

.custom-btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

/*---------------------------------------
  3. HOMEPAGE      
-----------------------------------------*/

/*---------------------------------------
  3A. HERO & HERO SLIDE         
-----------------------------------------*/
.hero-section-full-height {
  height: 680px;
  min-height: 680px;
  position: relative;
}

.carousel:hover .carousel-control-next-icon,
.carousel:hover .carousel-control-prev-icon {
  opacity: 1;
}

#hero-slide .carousel-item {
  height: 680px;
  min-height: 680px;
}

#hero-slide .carousel-caption {
  background: var(--white-color);
  clip-path: polygon(100% 100%, 100% 150px, 0 100%);
  color: var(--secondary-color);
  top: 1px;
  bottom: -1px;
  right: 0;
  left: auto;
  text-align: right;
  min-width: 680px;
  min-height: 680px;
  padding: 100px 100px 50px 100px;
}

.carousel-image {
  display: block;
  width: 100%;
  min-height: 680px;
}

#hero-slide .carousel-indicators-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#hero-slide .carousel-indicators {
  margin-right: 0;
  margin-left: 22px;
  justify-content: inherit;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-large);
  background-size: 60% 60%;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: all 0.5s;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: var(--primary-color);
}

/*---------------------------------------
  3B. FOCUS LIST               
-----------------------------------------*/
.focus-list {
  margin-bottom: 0;
  padding-left: 0;
}

.focus-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.custom-text-box {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  margin-bottom: 24px;
  padding: 40px;
}

.custom-text-box-image {
  border-radius: var(--border-radius-medium);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------------------------------
  3D. PROJECT ITEMS         
-----------------------------------------*/
.home-project-item-wrap {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.home-project-item-wrap:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.home-project-item-body {
  padding: 30px;
}

.home-project-item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-project-item .custom-btn {
  border-radius: 0;
  display: block;
}

/*---------------------------------------
  3E. TESTIMONIAL              
-----------------------------------------*/
/* This was adapted from a Bootstrap carousel */
.testimonial-section {
  position: relative;
  overflow: hidden;
  text-align: center;
  background-image: url(../../images/painting.jpg);
}

#testimonial .caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}

#testimonial .quote {
  background: var(--section-bg-color);
  padding: 1rem;
  line-height: 2.2rem;
  font-size: 1.1rem;
  font-style: italic;
  border-radius: 10px;
}

#testimonial .testimonial-name {
  display: block;
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  color: #e9eaeb;
}

.testimonial-name-title {
  font-weight: var(--font-weight-semibold);
}

/*---------------------------------------
  3F. AVATAR IMAGE              
-----------------------------------------*/
.avatar-image {
  border-radius: var(--border-radius-large);
  width: 65px;
  height: 65px;
  object-fit: cover;
}

/*---------------------------------------
  3G. CONTACT SECTION               
-----------------------------------------*/
.contact-section {
  background: var(--white-color);
}

.contact-form {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  padding: 40px;
}

.contact-info-wrap {
  padding-top: 40px;
}

.contact-image-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.contact-form .form-control[type="submit"]:focus,
#donate-submit[type="submit"]:focus {
  background: var(--site-footer-bg-color);
}

/* Contact Form Messages */
.contact-form .error-message,
.donate-form .error-message {
  display: none;
  background: #df1529;
  color: #ffffff;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact-form .sent-message,
.donate-form .sent-message {
  display: none;
  color: #ffffff;
  background: #3b7729;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}

.contact-form .loading,
.donate-form .loading {
  display: none;
  background: var(--surface-color);
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}

.contact-form .loading:before,
.donate-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--primary-color);
  border-top-color: var(--surface-color);
  animation: form-loading 1s linear infinite;
}

@keyframes form-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
  4. ABOUT PAGES       
-----------------------------------------*/
.about-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-image {
  border-radius: var(--border-radius-medium);
  display: block;
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.about-header-section {
  background-image: url("../../images/painting.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

#charity-header-quote {
  padding: 50px 0 50px;
  color: red;
}

.about-detail-images {
  display: block;
  border-radius: var(--border-radius-medium);
}

blockquote {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-semibold);
  color: var(--site-footer-bg-color);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 90px 50px 50px 50px;
  text-align: center;
}

blockquote::before {
  content: "“";
  color: var(--custom-btn-bg-color);
  font-size: 100px;
  line-height: 1rem;
  display: block;
}

.future-text {
  font-size: 1.2rem;
}

.future-img {
  width: 100%;
  border-radius: 15px;
}

p.bold {
  font-weight: 600;
}

/*---------------------------------------
  4A. TIMELINE             
-----------------------------------------*/
.responsive-image {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/* Landscape image for larger screens */
@media screen and (min-width: 768px) {
  .responsive-image {
    content: url("../../images/timeline_landscape.png"); /* URL for landscape image */
  }
}

/* Portrait image for smaller screens */
@media screen and (max-width: 767px) {
  .responsive-image {
    content: url("../../images/timeline_portrait.png"); /* URL for portrait image */
  }
}

/*---------------------------------------
  5. PROJECTS PAGE              
-----------------------------------------*/
.project {
  margin-bottom: 3rem;
}

.project h2 {
  font-size: 32px;
}

@media (max-width: 991px) {
  .project h2 {
    margin-top: 1rem;
    text-align: center;
  }
}

.project .carousel-inner {
  border-radius: 15px;
}

.project .carousel-item img {
  width: 100%;
  height: auto;
}

/* Adjusted carousel icons */
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  background-size: 50%; /* Keep icon smaller inside container */
  background-position: center; /* Center the icon within the button */
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    padding: 1%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    padding: 1.5%;
  }
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
/* End of adjusted carousel icons */

.project .carousel-caption-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0f8ffdc; /* Semi-transparent black overlay */
  padding: 1rem;
}

.overlay-text {
  color: black;
  margin-bottom: 0;
}

/* For larger screens, display the full text */
.overlay-text .full-text {
  display: inline;
}
.overlay-text .truncated-text,
.overlay-text .read-more-btn {
  display: none;
}

/* For smaller screens, show only the truncated text and "Read more" button */
@media (max-width: 768px) {
  .overlay-text .full-text {
    display: none;
  }
  .overlay-text .truncated-text,
  .overlay-text .read-more-btn {
    display: inline;
  }

  .read-more-btn {
    background: none;
    border: none;
    color: var(--secondary-color); /* Use inherited color, or specify if you want a different color */
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    text-decoration: underline; /* Optional: add underline to indicate it's clickable */
  }
}

@media (max-width: 991px) {
  .project .description {
    text-align: center;
  }
}

.sdgs {
  width: 80%;
  margin: 0 auto 2rem;
  padding: 1rem;
  background-color: #f0f8ffdc;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.sdgs p {
  font-weight: bold;
}

.sdg_icon {
  width: 80%;
  max-width: 100px;
}

/*---------------------------------------
  6. FORMS              
-----------------------------------------*/
/*---------------------------------------
  6A. CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  background-color: var(--section-bg-color);
  box-shadow: none;
  border: 0;
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  border-color: var(--secondary-color);
}

.custom-form label {
  margin-bottom: 10px;
}

.custom-form .form-check-group {
  margin-bottom: 20px;
}

.form-check-label {
  font-weight: var(--font-weight-semibold);
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--primary-color);
  border-color: transparent;
}

.contact-form .form-control {
  background: var(--white-color);
}

.form-control {
  background: var(--white-color);
}

.donate-form .form-control {
  margin-bottom: 0;
}

/*---------------------------------------
  7. DONATE PAGE           
-----------------------------------------*/
.donate-section {
  background-image: url("../../images/donate.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.donate-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 50px;
}

#donate-subheading {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

/*---------------------------------------
  8. RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1170px) {
  #hero-slide .carousel-image {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero-form {
    padding-bottom: 40px;
  }

  .donate-form {
    padding: 35px;
  }

  .navbar {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 20px;
  }

  .site-header {
    text-align: left;
    margin-top: 5px;
  }

  .hero-section-full-height {
    height: inherit;
  }

  .carousel:hover .carousel-control-next-icon,
  .carousel:hover .carousel-control-prev-icon {
    opacity: 1;
  }

  #hero-slide .carousel-item {
    height: inherit;
  }

  .carousel-control-prev {
    left: 12px;
  }

  .carousel-control-next {
    right: 12px;
  }

  .about-header-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .testimonial-section::before {
    width: 150px;
    height: 150px;
  }

  .testimonial-section::after {
    width: 200px;
    height: 200px;
  }

  #testimonial .caption {
    padding-top: 0;
  }

  blockquote {
    padding: 70px 30px 30px 30px;
  }

  .about-image {
    width: inherit;
    height: 450px;
  }

  .custom-text-box {
    padding: 30px;
  }

  .contact-info-wrap {
    padding-top: 0;
  }

  .site-footer {
    padding-top: 50px;
  }

  .copyright-text-wrap {
    justify-content: center;
  }

  .site-footer-bottom {
    text-align: center;
    margin-top: 50px;
  }

  .site-footer-bottom .footer-menu {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  #hero-slide .carousel-caption {
    clip-path: polygon(100% 100%, 100% 350px, 0 100%);
    padding-right: 50px;
    min-width: inherit;
    min-height: inherit;
    padding: 20px 50px;
    align-items: end;
  }

  #hero-slide .carousel-caption h1 {
    font-size: 40px;
  }

  #hero-slide .carousel-caption p {
    text-wrap: wrap;
    /* margin-left: 80px; */
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  #hero-slide .carousel-caption {
    padding: 20px 20px;
  }
}


/* @media screen and (max-width: 580px) {
  .hero-section-full-height,
  #hero-slide .carousel-item,
  .carousel-image {
    min-height: 520px;
  }

  #hero-slide .carousel-caption {
    clip-path: polygon(100% 100%, 100% 100px, 0 100%);
    padding-right: 50px;
    min-width: inherit;
    min-height: inherit;
  }
} */

@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  /* #hero-slide .carousel-caption {
    min-width: inherit;
    padding-bottom: 30px;
  } */

  .testimonial-section::before {
    top: -50px;
    width: 100px;
    height: 100px;
  }

  .testimonial-section::after {
    bottom: -150px;
    width: 200px;
    height: 200px;
  }

  .donate-form {
    padding: 25px;
  }
}

@media screen and (max-width: 400px) {
    #hero-slide .carousel-caption h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 323px) {
    #hero-slide .carousel-caption p {
    width: 70%;
  }
}
